@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300..700&display=swap');

body {
    font-family: Signika, sans-serif;
    box-sizing: border-box;

}

h1 {
    text-align: center;
}

.addActivity {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: aliceblue;
    margin: 70px;
}

.toDo {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: aliceblue;
    background-size: cover;
    background-image: url(notePad.jpg);
    padding: 20px;
    margin: 70px;
}

ul {
    list-style-type: none;
}

input {
    padding: 10px;
}

button {
    margin-top: 10px;
}

