@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300..700&display=swap');

body {
    font-family: Signika, sans-serif;
    box-sizing: border-box;
}

form, div {
    font-size: 1.7rem;
}

h1 {
    text-align: center;
}

.addActivity {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: aliceblue;
    margin: 70px;
    border-radius: 8px;
}


.addActivity button {
    border-radius: 8px;
    background-color: #6495ED;
    padding: 15px;  
    margin-top: 10px;
}

.addActivity input {
    border-radius: 8px;
    padding: 15px;  
}

.toDo {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: aliceblue;
    background-size: cover;
    background-image: url(notePad.jpg);
    padding: 20px;
    margin: 70px;
    border-radius: 10px;
}

.task-item button {
    border-radius: 8px;
}

ul {
    list-style-type: none;
}

li {
    display: flex;
    gap: 10px;
    align-items: center;
}

li button {
    border-radius: 50%;
    background-color: #DC143C;
    font-size: 1rem;
}

li input[type='checkbox']:checked + span {
    text-decoration: line-through;
    color: #87ae73;
}

input {
    padding: 10px;
}